<div class="gas-station">
	<section class="gas-station__title-block">
		<div class="wrap">		
			<h1 class="gas-station__title">				
				<img src="@img/asterizm-title-icon.png" alt="">
				<span>Activate your liquidity in many chains with single transaction</span>
			</h1>
		</div>		
	</section>
	
	<section class="gas-station__cnt">
		<div class="wrap">
			<div class="gas-station__content">
				
				<section class="gas-station__form-section bnb">
					<div class="gas-station__form-header">
						<img class="gas-station__main-logo" src="@img/chainspot-asterizm-logo.svg" alt="">
						<div class="gas-station__form-header-description">
							<span>Top up your gas token balance in many chains with single transaction from:</span>
							<span class="gas-station__form-header-label">
								<img src="@img/currencies/ethereum.png" alt="">
								Ethereum
							</span>
						</div>					
					</div>
					<form class="gas-station__form" action="">
						<div class="gas-station__input-header">
							<span>Pay</span>
							<span>Balance: -</span>
						</div>
						<div class="gas-station__input-block">
							<input type="text" placeholder="Enter amount">
							<button class="choose-token-button choose-token-button_dark">
								<div class="choose-token-button__icons">
									<img class="choose-token-button__icon choose-token-button__icon_token"
										src="@img/tokens-logos/token.png" alt="">
									<img class="choose-token-button__icon choose-token-button__icon_network"
										src="@img/tokens-logos/network.png" alt="">
								</div>
								<div class="choose-token-button__value">
									<span class="choose-token-button__token">USDT</span>
									<span class="choose-token-button__network">on Polygon</span>
								</div>
							</button>
						</div>
						<!-- <span class="error-message">Wallet balance is insufficient</span> -->
						
						<div class="gas-station__claim-btn">
							<button class="btn">
								Claim ATT token
							</button>
							<span class="gas-station__claim-btn-tooltip">
								Connect VENOM wallet first
							</span>
						</div>						
						
						<div class="gas-station__form-attention">
							<span>
								The liquidity you generate as gas is allocatedevenly throughout the networks.
							</span>
						</div>
						<div class="gas-station__form-params">
							<div class="gas-station__form-params-line">
								<span class="gas-station__form-params-name">Min allocations liquidity per network</span>
								<span class="gas-station__form-params-value">$10</span>
							</div>
							<div class="gas-station__form-params-line">
								<span class="gas-station__form-params-name">Commission for liquidity allocation</span>
								<span class="gas-station__form-params-value">5%</span>
							</div>
						</div>
						<div class="gas-station__status-block">
							<!-- <h2 class="gas-station__status-title">Transaction confirmation</h2> -->
							
							<!-- WAITING -->
							<!-- <div class="gas-station__status-label">
								<span class="gas-station__status-loader"></span>
								<span class="gas-station__status-caption">Confirm transaction</span>
							</div> -->
							
							<!-- SUCCESS -->
							<!-- <div class="gas-station__status-label">
								<img src="../img/status-success-icon.svg" alt="">
								<span class="gas-station__status-caption">Check transactions status<br>in each chain</span>
							</div> -->

							<!-- REJECTED -->
							<!-- <div class="gas-station__status-label">
								<img src="../img/status-rejected-icon.svg" alt="">
								<span class="gas-station__status-caption">Transaction rejected</span>
							</div> -->
							
							<!-- ATTENTION -->
							<!-- <div class="gas-station__status-label">
								<img src="../img/status-attention-icon.svg" alt="">
								<span class="gas-station__status-caption">
									You have already initiated transaction,<br>please check your web3 wallet
								</span>
							</div> -->
						</div>
						<button class="gas-station__form-submit btn btn_primary btn_dark">Okay</button>
					</form>
				</section>

				<section class="gas-station__networks">
					<!-- <span class="gas-station__networks-caption">
						<img src="@img/networks-icon.svg" alt="">
						<span>
							Select from
							<span class="gas-station__networks-caption-value">10 EVM</span>
							and
							<span class="gas-station__networks-caption-value">1 Non-EVM</span>
							networks to receive the gas tokens
						</span>						
					</span> -->

					<span class="gas-station__networks-caption">
						<span><span class="blue-gradient-text">Please join our chat</span> and share your opinion about the product!</span>
						<span class="gas-station__networks-caption-socials">
							<a href="" class="blue-social-link">
								<img src="@img/telegram-icon_blue.svg" alt="">
							</a>
							<a href="" class="blue-social-link">
								<img src="@img/discord-icon_blue.svg" alt="">
							</a>
						</span>						
					</span>

					<div class="gas-station__networks-table-header">
						<label class="gas-station__networks-table-header-checkbox">
							<input class="checkbox__input" type="checkbox" name="" id="">
							<span class="checkbox__button"></span>
						</label>
						<!-- <button class="gas-station__networks-table-header-btn">Reset<br>all</button> -->
						<span class="gas-station__networks-table-header-item i-asset">Asset</span>
						<span class="gas-station__networks-table-header-item i-type">
							<!-- <img src="@img/filter-icon.svg" alt=""> -->
							Type of network
						</span>
						<span class="gas-station__networks-table-header-item i-amount">Amount in fiat</span>
						<span class="gas-station__networks-table-header-item i-address">Wallet address</span>
					</div>

					<div class="gas-station__networks-table">
						
						@@for (var i = 0; i < 4; i++) {
							@@include('network-table-row.html', {})
						}

						@@include('network-table-row_rejected.html', {})
						@@include('network-table-row_apply.html', {})
						@@include('network-table-row_error.html', {})
						
						@@for (var i = 0; i < 4; i++) {
							@@include('network-table-row_disabled.html', {})
						}
												
					</div>			

					<!-- <div class="gas-station__check-table">
						
						@@include('network-table-row_pending.html', {})
						@@include('network-table-row_completed.html', {})						

					</div> -->
				</section>
			</div>
		</div>		
	</section>		
</div>