<div class="mobile-menu @@className">
	<div class="mobile-menu__header">
		
		@@if ('className' === 'dark') {
			@@include('logo.html', {
				'theme': '_dark'
			})
		}	
		
		@@if ('className' === '') {
			@@include('logo.html', {
				'theme': ''
			})
		}	

		@@include('mobile-menu-close.html', {
			'className': '@@className'	
		})
	</div>
	
	@@include('main-menu.html', {
		'className': 'mobile @@className'
	})

	<div class="mobile-menu__socials">
		<a href="">
			<img src="@img/telegram-icon.svg" alt="">
		</a>
		<a href="">
			<img src="@img/twitter-icon.svg" alt="">
		</a>
	</div>

	<div class="mobile-menu__cta">            
		<!-- <a class="mobile-menu__cta-link" href="">Blog</a> -->
		<a class="btn btn_@@className" href="">Connect wallet</a>      		
	</div>	     
</div>