.blue-gradient-text {
	background: linear-gradient(93.73deg, #00E6FF 18.99%, #0072FF 45.05%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}