.blue-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border: 1px solid #2C2D54;
	border-radius: 6px;

	@media (max-width: 768px) {
		width: 32px;
		height: 32px;
	}

	img {
		width: 20px;

		@media (max-width: 768px) {
			width: 16px;			
		}
	}
}