.btn-table {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 20px;

	@media (max-width: 1200px) {
		padding: 0 10px;
	}

	@media (max-width: 768px) {
		height: 42px;
	}

	&_primary {
		background-color: #1510F5;
		color: white;		
	}

	&_secondary {
		background-color: #F4F6FB;
		color: #1510F5;		
	}
}