.btn {
	display: flex;
	align-items: center;
	justify-content: center;	
	background: linear-gradient(to left, #068EFC 0%, #1510F5 51%, #068EFC 100%);
	background-size: 200% auto;
	border-radius: 6px;
	border: none;
	height: 40px;
	color: white;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s;
	padding: 0 22px;			         	

	&:hover {		
		background-position: right center;
		color: #fff;
		text-decoration: none;
	}
 
	&_dark {
		background: linear-gradient(90deg, #0573E4 2.16%, #02207E 100.13%);
	}

	&_primary {
		height: 54px;
		font-size: 18px;
		font-weight: 500;
	}

	&_white {
		background: #FFFFFF;
		border-radius: 6px;
		color: var(--font-dark);
		font-size: 16px;
		padding: 0 25px;
	}

	&:disabled {
		border: #023898 1px solid;
		background: none;
		cursor: not-allowed; 
	}
}