.btn {
	display: flex;
	align-items: center;
	justify-content: center;	
	background: linear-gradient(to left, #068EFC 0%, #1510F5 51%, #068EFC 100%);
	background-size: 200% auto;
	border-radius: 6px;
	border: none;
	height: 40px;
	color: white;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s;
	padding: 0 22px;			         	

	&:hover {		
		background-position: right center;
		color: #fff;
		text-decoration: none;
	}
 
	&_dark {
		background: linear-gradient(90deg, #0573E4 0%, #02207E 51%, #0573E4 100%);
		background-size: 200% auto;
	}

	&_primary {
		height: 54px;
		font-size: 18px;
		font-weight: 500;
	}

	&_blue {
		background-color: #023898;
	}

	&_white {
		background: #FFFFFF;
		border-radius: 6px;
		color: var(--font-dark);
		font-size: 16px;
		padding: 0 25px;
	}

	&_gray {
		background: #2C2D54;	
		color: white;		
		padding: 0 25px;
	}

	&_twitter {		
		background: #1C9CEA;
		gap: 6px;
		font-size: 14px;

		@media (max-width: 768px) {
			padding: 0 12px;
		}
	}

	&:disabled {
		border: #023898 1px solid;
		background: none;
		cursor: not-allowed; 
	}
}