.cookies-popup {
	display: flex;
	flex-direction: column;
	gap: 16px;
	border-radius: 16px;
	border: 1px solid #2C2D54;
	background: #000212;
	width: 90%;
	max-width: 415px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 10;
	padding: 18px 34px;

	@media (max-width: 768px) {
		right: auto;
		left: 50%;
		bottom: 10px;
		transform: translateX(-50%);
		width: 95%;
		padding: 16px;
	}

	&__caption {
		font-size: 15px;
		color: white;
	}

	&__cta {
		display: flex;
		gap: 16px;

		@media (max-width: 768px) {
			gap: 8px;
		}
	}
}