.filter-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	border-radius: 6px;
	border: 1px solid #0071FF;
	background: rgba(3, 74, 177, 0.15);
	height: 32px;
	color: #0071FF;
	width: 100%;
}