.filter {

	input {
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		width: 1px;
		height: 1px;
		position: absolute;
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 6px;
		height: 36px;
		width: fit-content;
		border: 1px solid #DEE4E8;
		font-size: 14px;		
		border-radius: 6px;
		cursor: pointer;
		user-select: none;
		padding: 0 9px;

		img {
			height: 24px;			
		}
	}

	input:checked + &__btn {
		background: rgba(25, 103, 255, 0.08);
		border: 1px solid #193EFF;
		color: #0E00FF;
	}
}