.footer {
	background: #262B40;

	&_dark {
		background: none;
		border-top: #2C2D54 1px solid;
	}

	&__logo {		
		margin-bottom: 26px;

		img {
			height: 36px;
		}
	}

	&__cnt {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 52px;
	}

	&__menu-block {
		display: flex;
		align-items: center;
		gap: 40px;
		border: none;
		padding: 0;
		margin-bottom: 40px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 32px;
		color: white;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #515566;
			margin-right: 8px;
		}
	}

	&__copyrights-block {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 100%;
		border-top: rgba($color: #fff, $alpha: .2) 1px solid;

		@media (max-width: 768px) {
			flex-direction: column-reverse;
			height: auto;
			gap: 24px;
			padding: 32px 0;
		}
	}

	&__copyrights {
		color: white;
		font-size: 14px;
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 13px;
		color: white;
		font-size: 16px;

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			background: #515566;
			border-radius: 50%;
			margin-right: 30px;
		}

		a {						
			&:not(:last-child) {
				margin: 0;
			}
		}
	}
}