.from-col {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&::after {
		content: '';
		flex: none;
		width: 19px;
		height: 19px;
		background: url('../img/table-arrow-right.svg') no-repeat center;
		background-size: contain;
	}
}