.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 54px;

	&__subtitle {
		text-align: center;
		font-size: 18px;
		line-height: 1.78;
		letter-spacing: -0.004em;
		color: var(--font-dark);
		margin: 0 0 22px;
		
		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	&__params {
		display: flex;
		align-items: flex-start;
		gap: 82px;
		background: #FFFFFF;
		border: 1px solid #E0E7F2;
		box-shadow: 0px 30px 80px -30px rgba(76, 86, 115, 0.12);
		border-radius: 12px;
		padding: 18px 66px 55px;

		@media (max-width: 768px) {
			justify-content: center;
			gap: 66px;
			width: calc(100% - 40px);
			padding: 18px 20px 40px;
		}

		&-item {						
			position: relative;						

			&-title {
				font-weight: 500;
				font-size: 40px;
				line-height: 1;
				text-align: center;
				background: linear-gradient(90.15deg, #193EFF 25.47%, #0373FF 60.21%, #10E5F2 94.2%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;

				@media (max-width: 768px) {
					font-size: 24px;
				}
			}

			&-caption {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%) translateY(100%);
				font-size: 14px;
				line-height: 1.33;
				white-space: nowrap;							
				text-align: center;	

				@media (max-width: 768px) {
					font-size: 12px;
					transform: translateX(-50%) translateY(100%);
				}
			}
		}
	}
}