@keyframes pulse {
	0% {
		transform: scale(1);
	}
	80% {
		transform: scale(1.8);
		
	}
	100% {		
		opacity: 0;
	}
}

.main-menu {	
	background: none !important;
	// margin: 0 20px;

	&__items {
		display: flex;
		align-items: center;
		gap: 30px;
		padding: 0;
		margin: 0;

		@media (max-width: 1366px) {
			gap: 20px;
		}

		@media (max-width: 768px) {
			flex-direction: column;	
			gap: 46px;			
		}		
	}

	&.mobile &__items {
		align-items: center;
		gap: 24px;		
	}

	&.footer {
		margin: 0;
	}

	&__item {		
		list-style: none;		
		position: relative;
		font-size: 16px !important;
		white-space: nowrap;
		color: var(--font-dark);
		transition: all .1s;
		
		@media (max-width: 1366px) {
			font-size: 14px !important;
		}

		@media (max-width: 768px) {
			font-size: 24px;
		}		

		&.soon,
		&.new {
			&::after {				
				display: flex;
				align-items: center;
				height: 16px;
				border-radius: 3px;
				font-family: 'Mulish', sans-serif;
				font-weight: 700;
				font-size: 9px;
				color: white;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(calc(-100% - 10px));				
				padding: 0 3px;				
			}
		}

		&.soon::after {
			content: 'Soon';
			background-color: #003980;
		}

		&.new::after {
			content: 'New';
			background-color: #193EFF;
		}
	}

	&.mobile &__item {
		display: flex;
		align-items: center;		
		justify-content: center;
		width: 100%;				
		padding: 0 20px;

		&::after {
			position: static;
			transform: none;
			margin-left: 5px;
		}		
	}	

	&_header {
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&.footer &__item {
		font-size: 14px;

		// &.soon::after,
		// &.new::after {
		// 	display: none;
		// }
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 4px;
		color: var(--font-dark);
		text-decoration: none;
		position: relative;
		transition: all .1s;	
		
		&:not(.active):hover {
			opacity: .6 !important;
		}
		
		svg {
			fill: var(--font-dark); 

			.main-menu.dark & {
				fill: white; 
			}
		}
		
		&.active {
			&::after {
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: var(--font-dark);
				position: absolute;
				bottom: -8px;
				left: calc(50% - 2px);
			}
		}
	}

	&.dark &__link {
		color: white;

		&.active {
			&::after {				
				background-color: white;				
			}
		}
	}

	&.mobile &__link.active {		

		&::after {
			display: none;
		}		
	}

	&__item.disabled &__link {		
		color: #BECCDF;
		cursor: auto;

		&:hover {
			opacity: 1;
		}

		svg {
			fill: #BECCDF;
		}
	}
	
	&.footer &__link {
		color: white;

		svg {
			fill: white;
		}

		&.active::after {
			display: none;
		} 		
	}

	&.footer &__item {
		&.soon::after,
		&.new::after {
			color: #262B40;
			background-color: white;

			@media (max-width: 768px) {
				right: auto;
				left: 50%;
				transform: translate(-50%, calc(-100% - 15px));		
			}
		}
	}
	
	&.footer &__item.disabled &__link {
		color: #616886;
	}
	
	&__link-icon-cnt {
		width: 24px;
		height: 24px;
		position: relative;
		margin-right: 5px;

		&::after {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: rgba($color: #fff, $alpha: .5);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			animation: pulse infinite 1.5s;
		}

		img {
			position: relative;
			z-index: 2;
		}
	}
}