.wallet-info-button {
	display: flex;	
	align-items: center;
	gap: 4px;	
	background: none;
	border-radius: 8px;
	border: none;
	text-decoration: none;
	color: #fff;
	background: #EBF5FF;
	cursor: pointer;
	padding: 4px;

	@media (max-width: 768px) {
		border-radius: 8px;
		gap: 3px;
		padding: 3px;
	}

	&.dark {
		background: none;
		border: rgba($color: white, $alpha: .15) 1px solid;
	}

	&_multiple {
		&::after {
			content: '';
			width: 9px;
			height: 5px;
			background: url('../img/select-arrow_white.svg') no-repeat center;
			background-size: contain;
			transition: all .2s;
			margin: 0 12px;
		}
	}

	.btn-select.active &_multiple {
		&::after {
			transform: rotate(180deg);
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 34px;
		height: 34px;
		border-radius: 6px;
		background-color: #fff;
		position: relative;		

		@media (max-width: 768px) {
			width: 26px;
			height: 26px;
			border-radius: 6px;
		}
	}

	&.dark &__logo {
		background: linear-gradient(0deg, rgba(1, 5, 25, 0.65), rgba(1, 5, 25, 0.65)), rgba(0, 113, 255, 0.25);
	}

	&__main-logo {
		width: 24px;

		@media (max-width: 768px) {
			width: 18px;			
		}
	}
	
	&__network-logo {		
		position: absolute;
		border-radius: 50%;
		border: #fff 1px solid;
		width: 14px;			
		min-width: 14px;
		bottom: -1px;
		right: -1px;

		@media (max-width: 768px) {
			width: 10px;			
			min-width: 10px;
		}
	}

	&__wallet-num {
		display: flex;
		align-items: center;
		gap: 6px;
		background: white;
		height: 34px;		
		border-radius: 6px;
		padding: 0 6px 0 10px;

		@media (max-width: 768px) {
			height: 26px;			
		}

		div {
			display: flex;
			flex-direction: column;			
		}

		svg {
			fill: #003980;
			width: 24px;	

			@media (max-width: 768px) {
				width: 14px;
			}
		}
	}

	&.dark &__wallet-num {
		background: linear-gradient(0deg, rgba(1, 5, 25, 0.65), rgba(1, 5, 25, 0.65)), rgba(0, 113, 255, 0.25);

		svg {
			fill: white;			
		}
	}

	&__num {
		font-size: 16px;
		font-weight: 500;
		color: #003980;	
		
		@media (max-width: 768px) {
			font-size: 12px;
		}		
	}

	&.dark &__num {
		color: white;

		svg {
			fill: white;
		}
	}

	&__network {
		font-size: 12px;
		color: #99C6FF;
	}
}